<h1>Login</h1>
<form action="https://doc.gold.ac.uk/usr/107/auth/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="https://doc.gold.ac.uk/usr/107/auth/register">Register here</a>.</p>
