<h1>Search Results</h1>
<form action="/search" method="GET">
    <input type="text" name="q" value="<%= query %>" placeholder="Search recipes...">
    <button type="submit">Search</button>
</form>
<ul>
    <% results.forEach(recipe => { %>
        <li><%= recipe.name %>: <%= recipe.description %></li>
    <% }); %>
</ul>
